<div class="row mb-5">
    <form class="col-lg-8" (ngSubmit)='addPost(form)' #form='ngForm'>
        <div class="form-group">
            <label for="exampleInputEmail1">Id Users</label>
            <input [(ngModel)]='newPost.id' name='id' type="number" class="form-control" id="exampleInputPassword1" placeholder="Id Users" required>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Title</label>
            <input [(ngModel)]='newPost.title' name='title' type="text" class="form-control" id="exampleInputPassword1" placeholder="Title" required>
        </div>
        <div class="form-group">
            <label class="form-check-label" for="exampleCheck1">Body</label>
            <input [(ngModel)]='newPost.body'name='body' type="text" class="form-control" id="exampleInputPassword1" placeholder="Body" required>
        </div>
        <button [disabled]='form.invalid' type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>